*{
	   	margin:0;
	   	padding:0;
	   	font-family:"微软雅黑";
	   }
	   body{
	   	min-width:1200px;
	   	background-color: #eeeeee;
	   }
	   header{
	   	width:100%;
	   	height:75px;
	   	background-color: white;
	   	position: fixed;
	   	top:0;
	   	min-width:1200px;
	   }
	   header .logo{
	   	float:left;
	   	padding-left: 40px;
	   	padding-top:10px;
	   	overflow: hidden;
	   }
	   header .nav{
	   	float:left;
	   	margin-left:450px;
	   	margin-top:20px;
	   	overflow: hidden;
	   }
	   header > nav > a{
		text-decoration: none;
		color:#7D7D7D;
		font-size: 16px;
		padding-right: 40px;
	   }
	   header .nav a:hover{
		color:orange;
	   }
	   header .buttons{
	   	float:right;
	   	width:120px;
	   	overflow: hidden;
	   }
	   header .buttons div{
	   	display: inline-block;
	   	padding-top: 12px;
	   	padding-right: 10px;

	   }
	   header .buttons .notice img{
	   	width:26px;
	   	display: inline-block;
	   	padding-bottom: 8px;
	   	padding-right: 10px;
	   }
	   header .buttons .head-pic img{
	   	width:40px;
	   	display: inline-block;
	   	padding-top: 5px;
	   	border-radius: 100%;
	   }

	   .main{
	   	width:100%;
	   	margin-top: 75px;
	   	min-width:1200px;
	   }

	   .main > aside{
	   	float:left;
	   	width:13%;
	   	height:645px;
	   	/*background-color: red;*/
	   	overflow: hidden;
	   	position: fixed;
	   	z-index: 1;
	   	top: 0;
	   	left: 0;
	   	margin-top: 80px;
	   	min-width:400px;
	   }
	   .side-top{
	   	height:560px;
	   }
	   .main > aside > .side-top> span{
	   	border-width: 4px;
	   	border-radius:3px;
	   	background-color: #3399CC;
	   	font-size:16px;
	   	display: inline-block;
	   	margin-left: 50px;
	   	margin-right:50px;
	   	margin-top: 15px;
	   	padding-top: 8px;
	   	padding-bottom: 8px;
	   	padding-right: 15px;
	   	padding-left: 15px;
	   	color:white;
	   	text-align: center;
	   }
	   .main > aside > .side-top > ul{
	   	padding-left: 50px;
	   	padding-top: 15px;
	   }
	   .main > aside > .side-top > ul > li{
	   	text-shadow: none;
	   	list-style: none;
	   	padding-top: 15px;
	   	padding-bottom: 5px;
	   }
	   .main > aside > .side-top > ul > li > a{
	   	text-decoration: none;
	   	color:#7D7D7D;
	   	font-size: 16px;
	   }
	   .main > aside > .side-top> ul > li > a:hover{
	   	border-width: 4px;
	   	border-radius:5px;
	   	background-color: #FF6666;
	   	font-size:16px;
	   	padding: 8px;
	   	color:white;
	   }
	   .main > aside > .side-top > ul > li > img{
	   	width:20px;
	   	height:20px;
	   	/*padding-top: 15px;*/
	   	padding-right: 5px;
	   }
	   .main > aside > .side-bottom > .line{
	   	font-size: 16px;
	   	color: #7D7D7D;
	   	padding-bottom: 5px;
	   	padding-left: 30px;
	   }
	   .main > aside > .side-bottom > .line > span{
	   	padding-right: 10px;
	   }
	   .main > .content{
	   	width:85%;
	   	height:625px;
	   	background-color: white;
	   	float:right;
	   	margin-top:20px;
	   	min-width:1000px;

	   }
	   .main > .content > .info{
	   	width:600px;
	   	margin: 60px;
	   	height:300px;
	   	padding:0px;
	   	text-align: center;
	   }
	   .main > .content > .info td{
	   	padding: 0px;
	   }
	   .main > .content > .title-text{
	   	font-size: 17px;
	   	color:#7D7D7D;
	   	display: inline-block;
	   	margin-top:40px;
	   	margin-left:40px;
	   	margin-bottom: 10px;
	   	margin-right:5px;
	   }
	   .main > .content > .sep-line{
	   	
	   	margin-left: 40px;
	   	margin-right: 20px;
	   	margin-top: 5px;
	   }
	   .main > .content > .my-group{
	   	width:100%;
	   	height:35%;
	   }
	   .group-icon{
	   	display:inline-block;
	   }
	   .group-icon img{
	   	width:150px;
	   	margin-top: 20px;
	   	margin-left: 40px;
	   }
	   .main > .content > .my-group > .group-icon > .group-name{
	   	display: block;
	   	font-size: 16px;
	   	margin-left: 40px;
	   	text-align: center;
	   	margin-top: 5px;
	   }
	   .more{
	   	background-color: white;
	   	border:none;
	   }
	   .more > img{
	   	width:18px;
	   	height:18px;
	   	display:block;
	   }
	   .main > .content > .homework > .homework-bar{
	   	width:40%;
	   	height:80px;
	   	background-color: #0099FF;
	   	margin-left: 40px;
	   	margin-top: 15px;
	   	border-radius: 8px;
	   	color: white;
	   	font-size: 16px;
	   	line-height: 80px;
	   	text-align: center;


	   }
	   .main > .content > .homework{
	   	min-width: 1200px;

	   }
	   .main > .content > .homework > .homework-bar{
	   	display: inline-block;
	   	margin-top: 20px;
	   	margin-bottom: 10px;
	   }
	   .main > .content > .homework > .homework-bar > a > img{
	   	display: inline-block;
	   	width:25px;
	   	margin-left: 10px;
	   }
	   .main > .content > .homework > .homework-bar > a{
	   	text-decoration: none;
	   	color: white;
	   	font-weight: bold;
	   }